<a href="https://colab.research.google.com/github/omkarmohite123/Algorithmic_Problem-using-Python/blob/main/Agorithmic3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
Given a number N followed by an array of N integers, every element appears twice except for one. Find that single one and print it.
Input Size : N <= 100000
Sample Testcase :
INPUT
5
30 5 5 30 -45
OUTPUT
-45
"""

In [39]:
b=input()
l=list(map(str,input().split()))
d=[]
m=[]
for i in range(len(l)):
    if l.count(l[i])==1:
        d.append(l[i])
    else:
        m.append(l[i])
if l==[]:
  print("-1")
else:
  print(*d)

5
30 5 5 30 -45
-45